.overlay .video {
    margin-left: auto;
    margin-right: auto;
    transform: translateY(25%);
}

.module__info-show {
    display: flex;
    flex-direction: column;
}

.info__wrapper {
    display: flex;
    align-items: center;
}

.info__wrapper .plus {
    margin-left: 10px;
}

.lorem {
    text-align: center;
    display: none;
}

.closed {
    height: 57px;
    transition: all 0.5s ease-in;
}

.opened {
    height: 280px;
    transition: all 0.5s ease-in;
}